# Ignore Gradle project-specific cache directory
.DS_Store
.idea/

# Ignore Gradle project-specific cache directory
.gradle

out/

# Ignore Gradle build output directory
build
.gradle/
*.iml
*.ipr
*.iws