#
# https://help.github.com/articles/dealing-with-line-endings/
#
# These are explicitly windows files and should use crlf
*.bat           text eol=crlf

weapon_transitive_old.iml
weapon_transitive_old.ipr
weapon_transitive_old.iws